* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
  background-color: #333;
  background-image: url('./assets/background.jpg');
  background-size:cover;
}

.app {
	font-family: "Open Sans", Verdana, sans-serif;
}

h1 {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

a {
	display: inline-block;
	margin-top: 8px;
}

.logo {
	height: 40vmin;
	pointer-events: none;
	width: 100%;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
	font-weight: 600;
    background: rgba(32, 8, 59, 0.75);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5),rgba(32, 8, 59, 0.75),rgba(255, 255, 255, 0.5));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(32, 8, 59, 0.75);
    left: 0;
    top: 0;
    border-radius: 10px;
}

  
  .bounce {
	transition: transform 0.3s ease-in-out;
	animation: bounceAnimation 3s cubic-bezier(0.2, 0.8, 0.2, 1) infinite;
  }

  .supportViewWarning {
    display: none;
  }
  
  @keyframes bounceAnimation {
	0%, 100% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-70px);
	}
  }


@media (prefers-reduced-motion: no-preference) {
	.logo {
		animation: logo-spin infinite 20s linear;
	}
}

@media screen and (max-width: 1300px) {
  .snapContainer{
    display: none !important;
  }
  .leaderBoardContainer{
    width: auto !important;
  }
}

@media screen and (max-width: 1000px) {
  .snapContainer{
    display: none !important;
  }
  .leaderBoardContainer{
    display: none !important;
  }
  .desktopView{
    display: none !important;
  }
  .supportViewWarning {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    height: 96vh;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
    font-family: sans-serif;
    margin: 20px;
  }
  .listView {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .pointTableHeader {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border-radius: 5px;
    background: linear-gradient(130deg, rgba(255, 86, 246, 0.40) 18.31%, rgba(185, 54, 238, 0.40) 43.26%, rgba(59, 172, 226, 0.40) 85.44%, rgba(64, 106, 255, 0.40) 100%);
    box-shadow: 0px 4px 97px 0px rgba(255, 86, 246, 0.51);
    backdrop-filter: blur(96px);
    color: #FFF;
    border: 2px solid rgb(180, 180, 180);
    margin-bottom: 5px;
    padding: 15px;
  }
  .pointTableRow {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(120.5px);
    color: #FFF;
    border: 2px solid rgb(180, 180, 180);
    z-index: 2;
  }
  .position {
    width: 50px;
    border: 1px;
    text-align: left;
  }
  .teamName {
    width: 150px;
    text-align: left;
  }
  .point {
    width: 80px
  }
  .titleContainer {
    margin-top: 10px;
    height: 30px;
    width: 200px;
  }
  .imageTitle {
    width: 100%;
    height: 100%;
  }
  .subTitle{
    display: flex;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    width: 300px;
  }
}


@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}