* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
  background-color: #333;
  background-image: url('./assets/background.jpg');
  background-size:cover;
}

.app {
	font-family: "Open Sans", Verdana, sans-serif;
}

h1 {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

a {
	display: inline-block;
	margin-top: 8px;
}

.logo {
	height: 40vmin;
	pointer-events: none;
	width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
	.logo {
		animation: logo-spin infinite 20s linear;
	}
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}